@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Outfit:wght@300;400;500;600;700&display=swap');

@theme {
  --color-matcha: #9AB47E;
  --color-espresso: #4A2B18;
  --color-cream: #F4F1EB;
  --font-sans: 'Outfit', sans-serif;
  --font-serif: 'Instrument Serif', serif;
}